.apple-cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: rem(35px);
  justify-content: space-between;

  @media (max-width: rem(1400px)) {
    gap: rem(15px);
  }

  @include media-breakpoint-down(md) {
    gap: 2%;
    row-gap: rem(15px);
  }

  &-limited {
    max-width: 65%;

    @include media-breakpoint-down(xl) {
      max-width: none;
    }
  }
}

.apple-card {
  border-radius: rem(24px);
  flex: 1;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  min-height: rem(445px);
  color: #fff;
  text-decoration: none;
  container-type: inline-size;

  @include media-breakpoint-down(md) {
    flex: 0 0 calc(50% - 1%);
  }

  @include media-breakpoint-down(sm) {
    min-height: rem(345px);
  }

  @media (max-width: rem(429px)) {
    flex: 0 0 100%;
  }

  &-modal-trigger {
    cursor: pointer;

    &:hover {
      .apple-card-bg-image {
        transform: scale(1.02);
      }
    }
  }

  &-content {
    padding: rem(20px) rem(25px) rem(80px);
    position: relative;
    z-index: 1;
    height: 100%;

    @container (max-width: 265px) {
      padding-left: rem(20px);
      padding-right: rem(20px);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 45%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
      z-index: -1;

      @include media-breakpoint-down(sm) {
        height: 65%;
      }
    }
  }

  &-medallion {
    max-width: rem(325px);
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.2)
    );

    .apple-card-content::before {
      display: none;
    }

    &:hover {
      .apple-card-bust {
        transform: translateX(-50%) scale(1.02);
      }
    }

    @include media-breakpoint-down(md) {
      max-width: none;
    }
  }
}

.apple-card-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  transition: 0.3s linear 0s;
}

.apple-card-bust {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s linear 0s;

  @include media-breakpoint-down(sm) {
    max-height: rem(300px);
  }
}

.apple-card-trigger {
  position: absolute;
  z-index: 1;
  right: rem(20px);
  bottom: rem(20px);
  width: rem(40px);
  height: rem(40px);
  border-radius: 50%;
  background-color: $grey-medium-3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: rem(32px);
  color: $grey-dark-2;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $grey-medium-2;
  }
}

.apple-card-title {
  font-size: rem(21px);
  font-family: $font-family-extrabold;
  margin-bottom: rem(5px);

  @include media-breakpoint-down(sm) {
    font-size: rem(19px);
  }
}

.apple-card-description {
  font-size: rem(16px);
  font-family: $font-family-light;
  margin-bottom: 0;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.75);
}

.apple-card-role {
  font-size: rem(16px);
  font-family: $font-family-extrabold;
  color: $yellow;
  display: block;
}

.apple-card-university-title {
  font-size: rem(16px);
  display: block;
  color: rgba(255, 255, 255, 0.75);
  font-family: $font-family-light;
  line-height: 1.2;
}

.apple-cards-slider {
  .apple-card {
    width: 100%;
    container-type: normal;
  }
}

.apple-card-medallion-new {
  background: none;

  .apple-card-bg-image {
    z-index: auto;
  }

  .apple-card-content {
    background: linear-gradient(
      to bottom,
      transparent 60%,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8)
    );
    padding-bottom: rem(30px);
    padding-right: rem(55px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .apple-card-trigger {
    right: 5px;
    bottom: 5px;
  }

  .apple-card-title {
    font-size: 40px;
    line-height: 1;

    @include media-breakpoint-down(xl) {
      font-size: 30px;
    }
  }

  .apple-card-text {
    font-size: 28px;
    line-height: 1;
    margin-bottom: 0;

    @include media-breakpoint-down(xl) {
      font-size: 18px;
    }
  }
}
