.card-banner-component {
  padding-top: rem(15px);
}

// Prevent FOUC (Flash of Unstyled Content) before Swiper initializes
#card-banners-slider {
  .swiper-wrapper {
    display: flex;
    .swiper-slide {
      flex-shrink: 0;
      width: rem(248px);
      
      @include media-breakpoint-up(md) {
        width: rem(310px);
      }
      
      @include media-breakpoint-up(xl) {
        width: rem(388px);
      }
      
      @media (max-width: rem(520px)) {
        width: rem(310px);
      }
    }
  }
}

.card-banner {
  border-radius: rem(20px);
  overflow: hidden;
  width: rem(248px);
  display: block;

  @include media-breakpoint-up(md) {
    width: rem(310px);
  }

  @include media-breakpoint-up(xl) {
    width: rem(388px);
  }

  @media (max-width: rem(520px)) {
    width: rem(310px);
  }

  &-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.card-banner-new {
  width: 100%;
  border-radius: rem(20px);
  overflow: hidden;
  display: block;

  .card-banner-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
