.video-grid {
  display: flex;
  gap: rem(35px);
  justify-content: space-between;
  margin-top: rem(100px);

  @include media-breakpoint-down(xl) {
    margin-top: rem(50px);
    gap: rem(15px);
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    gap: rem(30px);
  }

  &-limited {
    max-width: 65%;

    @include media-breakpoint-down(xl) {
      max-width: none;
    }
  }

  &-item {
    flex: 1;

    &-title {
      font-family: $font-family-base;
      font-size: rem(21px);
      margin-bottom: 0;
      margin-top: rem(20px);

      @include media-breakpoint-down(sm) {
        margin-top: rem(10px);
      }
    }
  }
}

.video-box {
  position: relative;
  overflow: hidden;
  border-radius: rem(8px);
  min-height: rem(285px);
  z-index: 1;

  &-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }

  &-button-play {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: rem(48px);
    height: rem(48px);
    cursor: pointer;
    border: none;
    background: none;

    &-aureola {
      border-radius: 50%;
      background-color: #fff;
      transition: all 0.3s ease;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: rem(45px);
      height: rem(45px);
      box-shadow: 0 rem(2px) rem(4px) rgba(0, 0, 0, 0.1);
    }

    &-icon {
      width: rem(16px);
      height: rem(20px);
      position: absolute;
      left: 56%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      .video-box-button-play-aureola {
        transform: translate(-50%, -50%) scale(1.05);
      }
    }
  }
}
