// Custom variables and Bootstrap variable overwrites
@import "abstracts/variables";

// Bootstrap scss
@import "../bootstrap/bootstrap";

// Custom code here
@import "abstracts/functions";
@import "abstracts/mixins";
@import "base/animations";
@import "base/global";
@import "base/typography";
@import "base/buttons";
@import "base/forms";
@import "base/helpers";
@import "components/menu";
@import "components/search";
@import "components/social-media";
@import "components/swiper";
@import "components/card-full-image";
@import "components/hero";
@import "components/card-banner";
@import "components/stats";
@import "components/courses";
@import "components/card-info";
@import "components/info-console-grid";
@import "components/huge-heading";
@import "components/ribbon";
@import "components/description-sections";
@import "components/medallion";
@import "components/months";
@import "components/reviews";
@import "components/countdown";
@import "components/certification";
@import "components/grid-list-text";
@import "components/footnotes";
@import "components/info-tech";
@import "components/hotels";
@import "components/lecturers";
@import "components/search-results";
@import "components/contact-form";
@import "components/reservation-success";
@import "components/bottom-overflow-limit";
@import "components/apple-cards";
@import "components/new/header-hero";
@import "components/new/events-details";
@import "components/new/formatori";
@import "components/new/event-agenda";
@import "components/new/numbers";
@import "components/new/info-scroll";
@import "components/new/reservation-packages";
@import "components/new/gallery-card";
@import "components/new/modals";
@import "components/new/info-modules";
@import "components/new/benefits-timeline";
@import "components/new/sponsors";
@import "components/new/medical-courses";
@import "components/new/faq";
@import "components/new/course-layout-normal";
@import "components/new/course-med-hero-ctas";
@import "components/new/medics-types";
@import "components/new/program-course";
@import "components/footer";
