.course-med-hero-ctas {
  display: flex;
  gap: 15px;
  margin-top: 15px;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  > * {
    width: 50%;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}
