section:has(.formatori-info-slider) {
  overflow-x: clip;

  .complex-title {
    @media (min-width: 1600px) {
      margin-left: calc((100vw - 1600px) / 2);
    }

    @media (max-width: 1599px) {
      margin-left: 30px;
    }
  }
}

.formatori-info-slider {
  overflow: visible;

  @media (min-width: 1600px) {
    margin-left: calc((100vw - 1600px) / 2);
  }

  @media (max-width: 1599px) {
    margin-left: 30px;
  }

  .swiper-slide {
    width: 230px;
  }

  .swiper-wrapper {
    padding-right: 30px;
  }
}

.card-formator {
  width: 230px;

  &-image {
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    margin-bottom: 8px;

    &-title {
      position: absolute;
      left: 5px;
      bottom: 5px;
      z-index: 2;
      color: #fff;
      font-family: $font-family-bold;
      background-color: $blue-violet;
      padding: 3px 10px;
      border-radius: 4px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, #2f2e2e, rgba(47, 46, 46, 0.3));
      pointer-events: none;
    }

    img {
      position: relative;
      z-index: 1;
    }
  }

  &-title {
    font-size: 21px;
    font-family: $font-family-bold;
    color: $blue-violet;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 10px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60%;
      height: 1px;
      background: linear-gradient(to right, $blue-violet, transparent);
    }

    span {
      display: block;
      text-transform: uppercase;
    }
  }

  &-what,
  &-where {
    color: $blue-violet;
    font-family: $font-family-bold;
    line-height: 1;
    padding-bottom: 3px;
  }

  &-text {
    padding-top: 10px;
    line-height: 1.3;
  }
}

.complex-title {
  display: flex;
  margin-bottom: 30px;
  align-items: flex-end;
  gap: 10px;
  max-width: 800px;
  padding-right: 15px;

  &-text {
    color: $grey-dark-2;
    font-family: $font-family-bold;
    font-size: 24px;
    line-height: 1.1;
    position: relative;
    bottom: -5px;

    @include media-breakpoint-down(lg) {
      font-size: 21px;
    }

    span {
      display: block;
      font-family: $font-family-base;
      font-size: 21px;

      @include media-breakpoint-down(lg) {
        font-size: 18px;
      }
    }
  }
}

.facilitators-info-slider {
  .swiper-slide {
    width: 230px;
  }
}
