section:has(.photo-gallery-slider) {
  overflow-x: clip;

  .complex-title {
    @media (min-width: 1600px) {
      margin-left: calc((100vw - 1600px) / 2);
    }

    @media (max-width: 1599px) {
      margin-left: 30px;
    }
  }
}

.photo-gallery-slider {
  overflow: visible;
  padding-top: 10px;

  @media (min-width: 1600px) {
    margin-left: calc((100vw - 1600px) / 2);
  }

  @media (max-width: 1599px) {
    margin-left: 30px;
  }

  .swiper-slide {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .swiper-wrapper {
    padding-right: 30px;
  }
}

.gallery-card {
  flex: 1;
  color: $grey-medium-2;

  &.gallery-card-small {
    width: 225px;
  }

  &.gallery-card-large {
    width: 465px;
  }

  &-image {
    border-radius: 13px;
    border: 1px solid #fff;
    overflow: hidden;
    height: 225px;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &-title {
    font-size: 21px;
    font-family: $font-family-bold;
  }

  &-text {
    margin-bottom: 0;
    line-height: 1.3;
  }
}

.has-modal-mark {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $blue-mate;
  color: #fff;
  font-size: 32px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.has-modal {
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);

    .has-modal-mark {
      background-color: #35465c;
    }
  }
}
