.header-lp {
  position: relative;
  z-index: 1;
  margin-top: 5px;
}

.logo-new {
  img {
    width: 75px;
    height: 75px;
  }
}

.hero-event {
  display: flex;
  min-height: 415px;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    min-height: 0;
  }
}

.hero-left {
  background-image: url(../images/lp/doctors.jpeg);
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  @media (max-width: rem(1550px)) {
    background-position: right 0;
  }

  @include media-breakpoint-down(lg) {
    width: 100%;
    height: 200px;
    border-radius: 0;
    order: 1;
    background-position: left -50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  @media (max-width: rem(700px)) {
    background-position: left -10px;
  }

  @include media-breakpoint-down(sm) {
    background-position: right 0;
  }
}

.hero-right {
  width: 50%;
  background-image: url(../images/diamonds-bg.svg);
  background-repeat: no-repeat;
  background-size: 1777px 900px;
  background-color: #182c3a;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  @include media-breakpoint-down(xl) {
    padding: 20px 30px;
  }

  @include media-breakpoint-down(lg) {
    width: 100%;
    border-radius: 0;
    order: 0;
    padding: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 160px;
    height: 60px;
    background-color: #182c3a;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    left: 40px;
    bottom: -60px;

    @include media-breakpoint-down(xl) {
      width: 130px;
      height: 40px;
      bottom: -40px;
      left: 30px;
    }
  }

  p {
    margin: 0;
  }
}

.hero-main-title {
  font-family: "BebasNeue-Regular";
  font-size: 66px;
  line-height: 1;
  margin: 0;

  @include media-breakpoint-down(xl) {
    font-size: 56px;
  }

  @include media-breakpoint-down(md) {
    font-size: 46px;
  }
}

.hero-second-title {
  font-family: "BebasNeue-Regular";
  font-size: 66px;
  line-height: 1;
  margin-bottom: 5px;

  @include media-breakpoint-down(xl) {
    font-size: 56px;
  }

  @include media-breakpoint-down(md) {
    font-size: 46px;
  }
}

.hero-text {
  font-family: "RubrikEdgeNew-Medium";
  font-size: 33px;
  line-height: 1;
  margin-bottom: 0;

  @include media-breakpoint-down(xl) {
    font-size: 23px;
  }

  @include media-breakpoint-down(md) {
    font-size: 18px;
  }
}

.hero-event-online {
  display: flex;
  height: 500px;
  position: relative;

  @include media-breakpoint-down(lg) {
    max-width: 850px;
    margin: 0 auto;
  }

  @include media-breakpoint-down(md) {
    max-width: 689px;
  }

  @media (max-width: rem(850px)) {
    flex-direction: column;
    justify-content: flex-end;
  }

  .main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

    @include media-breakpoint-down(lg) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    @media (max-width: rem(850px)) {
      position: absolute;
    }
  }
}

.hero-left-online,
.hero-right-online {
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 50%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 10px;

  @media (max-width: rem(1500px)) {
    padding: 20px;
  }

  @media (max-width: rem(850px)) {
    position: relative;
    bottom: auto;
    width: 100%;
    height: auto;
    min-height: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media (max-width: rem(430px)) {
    min-height: auto;
  }

  .hero-main-title {
    font-size: 55px;
    color: #fff;

    @media (max-width: rem(1500px)) {
      font-size: 50px;
    }

    @include media-breakpoint-down(xl) {
      font-size: 47px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 44px;
    }

    @media (max-width: rem(850px)) {
      font-size: 40px;
    }

    @media (max-width: rem(430px)) {
      font-size: 30px;
    }
  }

  .hero-second-title {
    font-size: 55px;
    margin-bottom: 0;

    @media (max-width: rem(1500px)) {
      font-size: 50px;
    }

    @include media-breakpoint-down(xl) {
      font-size: 47px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 44px;
    }

    @media (max-width: rem(850px)) {
      font-size: 40px;
    }

    @media (max-width: rem(430px)) {
      font-size: 30px;
    }
  }

  .hero-text {
    font-size: 32px;

    @media (max-width: rem(1500px)) {
      font-size: 28px;
    }

    @include media-breakpoint-down(xl) {
      font-size: 26px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 23px;
    }

    @media (max-width: rem(850px)) {
      font-size: 20px;
    }

    @media (max-width: rem(430px)) {
      font-size: 16px;
    }
  }
}

.hero-left-online {
  left: 0;
  background-color: rgba(35, 142, 171, 0.9);
  border-bottom-left-radius: 20px;

  @media (max-width: rem(850px)) {
    border-bottom-left-radius: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: $new-blue;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    right: 0;
    bottom: -40px;
  }
}

.hero-right-online {
  right: 0;
  background-color: rgba(24, 44, 58, 0.9);
  border-bottom-right-radius: 20px;

  @media (max-width: rem(850px)) {
    border-bottom-left-radius: 20px;
  }
}
