.info-scroll {
  display: flex;
  gap: 20px;
  align-items: flex-start;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    gap: 40px;
  }

  &-half {
    flex: 1;
    display: flex;
    gap: 15px;
    align-items: flex-start;

    &-icon {
      flex-shrink: 0;

      @include media-breakpoint-down(xl) {
        width: 45px;
      }
    }

    &-content {
      &-title {
        font-size: 30px;
        font-family: $font-family-bold;
        color: $new-green;
        text-transform: uppercase;
        margin-bottom: 20px;

        &-blue {
          color: $new-blue;
        }

        @include media-breakpoint-down(xl) {
          font-size: 26px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 22px;
        }
      }

      &-scroll {
        overflow: auto;
        font-size: 21px;
        line-height: 1.2;
        max-height: 320px;
        padding-right: 10px;

        @include media-breakpoint-down(xl) {
          font-size: 18px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 16px;
        }

        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-track {
          background-color: #87898c;
          border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #d0d1d2;
          border-radius: 6px;
        }

        scrollbar-color: #87898c;
      }
    }
  }
}
