.info-module {
  margin-top: 60px;

  &-1 {
    display: flex;
    column-gap: 45px;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      gap: 30px;
    }

    &-card {
      width: 315px;

      @include media-breakpoint-down(xl) {
        width: auto;
        flex: 1;
      }

      &-title {
        font-size: 21px;
        font-family: $font-family-bold;
        text-transform: uppercase;
        line-height: 1.1;
        margin: 15px 0 13px;
      }

      &-text {
        line-height: 1.4;
        margin-bottom: 0;

        strong {
          font-weight: 400;
          font-family: $font-family-bold;
        }
      }
    }
  }

  &-title {
    font-size: 21px;
    font-family: $font-family-bold;
    line-height: 1.1;
    text-transform: uppercase;
  }

  &-scrollable {
    overflow: auto;
    max-height: 500px;
    padding-right: 10px;
  }

  &-accordion {
    .accordion-item {
      border-left: none;
      border-right: none;
      border-color: $blue-violet;
      border-width: 2px;
      border-radius: 0;

      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    .accordion-button {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 21px;
      font-family: $font-family-bold;
      color: $blue-violet;

      @include media-breakpoint-down(md) {
        font-size: 18px;
      }

      &::after {
        display: none;
      }

      &:not(.collapsed) {
        background-color: transparent;
        box-shadow: none;
        color: $grey-dark-2;
      }
    }

    .accordion-body {
      padding-top: 0;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
