.medical-courses {
  display: flex;
  column-gap: 18px;
  row-gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: rem(1280px)) {
    flex-direction: column;
  }

  &-item {
    width: calc(50% - 9px);
    background-color: $grey-extralight-6;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    box-shadow:
      -4px 4px 6px -2px rgba(0, 0, 0, 0.2),
      4px 0 6px -3px rgba(0, 0, 0, 0.08);
    text-align: left;
    display: flex;

    @media (max-width: rem(1280px)) {
      width: 100%;
    }

    @media (max-width: rem(700px)) {
      flex-direction: column;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid $grey-extralight-6;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      pointer-events: none;
    }
  }
}

.medical-course-desciption {
  margin-top: 1px;
  background-color: #fff;
  flex-basis: 37%;
  border-top-left-radius: 20px;
  padding: 20px;
}

.medical-course-date {
  font-size: 21px;
  font-family: $font-family-extrabold;
  line-height: 1;
}

.medical-course-hours {
  font-size: 16px;
  font-family: $font-family-extrabold;
}

.medical-course-title {
  font-size: 16px;
  font-family: $font-family-extrabold;
  margin-top: 5px;
  line-height: 1.4;
  text-transform: uppercase;

  span {
    font-family: $font-family-medium;
  }
}

.medical-course-text {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.3;
}

.medical-course-info {
  flex: 1;
  position: relative;
  padding: 25px 20px 10px;
  display: flex;
  flex-direction: column;

  &::after {
    content: "";
    position: absolute;
    left: 25px;
    top: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 20px solid #fff;
  }
}

.medical-course-tarif {
  font-size: 14px;
  font-family: $font-family-extrabold;
  width: 93%;

  span {
    font-family: $font-family-bold;
  }
}

.medical-course-price-flex {
  font-size: 32px;
  font-family: $font-family-extrabold;
  display: flex;
  gap: 7px;
  line-height: 1.2;
  width: 93%;

  sup {
    top: -6px;
  }
}

.medical-course-price-discount {
  color: $grey-medium-2;
  text-decoration: line-through;
  font-family: $font-family-bold;
}

.medical-course-price-vat {
  font-size: 13px;
  width: 93%;
}

.medical-course-who {
  margin-top: 20px;
  display: flex;
  gap: 25px;
  font-size: 14px;
  width: 93%;
  margin-bottom: 10px;
}

.medical-course-who-title {
  font-size: 14px;
  margin-bottom: 5px;

  span {
    font-family: $font-family-bold;
    display: block;
  }
}

.medical-course-who-text {
  margin-bottom: 0;
  line-height: 1.3;
}

.medical-course-cta {
  text-decoration: none;
  border-radius: 4px;
  width: 100%;
  height: 55px;
  background: linear-gradient(to right, #5273b7 0%, #5273b7 50%, #1f9bb8 100%);
  display: flex;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: auto;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      #1f9bb8 0%,
      #1f9bb8 50%,
      #5273b7 100%
    );
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border-radius: 4px;
  }

  &:hover::before,
  &:focus::before {
    opacity: 1;
  }

  &-inner {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 36px;
    font-family: $font-family-extrabold;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    z-index: 1;

    &.inactive-points {
      color: rgba($color: #fff, $alpha: 0.3);
    }

    &:last-child {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: #fff;
        left: 0;
        top: 0;
      }
    }

    span {
      font-size: 16px;
      font-family: $font-family-bold;
    }
  }
}

.medical-course-badge {
  border-bottom-left-radius: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 35px;
  height: 150px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  font-family: $font-family-extrabold;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  padding-top: 20px;

  span {
    transform: rotate(-90deg) translateX(-25px);
    white-space: nowrap;
  }

  &-pink {
    background-color: $pink;
  }

  &-green {
    background-color: $new-green;
  }

  &-yellow {
    background-color: $yellow;
  }
}

.medical-course-image {
  @media (max-width: rem(1340px)) {
    display: none;
  }

  @media (max-width: rem(1280px)) {
    display: block;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}
