.program-course {
  &-title {
    font-size: 21px;
    font-family: $font-family-bold;
    margin-top: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &-scroll {
    overflow: auto;
    line-height: 1.2;
    max-height: 900px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: #87898c;
      border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #d0d1d2;
      border-radius: 6px;
    }

    scrollbar-color: #87898c;

    &-item {
      &-hours {
        font-size: 24px;
        font-family: $font-family-bold;
      }

      &-title {
        font-size: 21px;
        font-family: $font-family-bold;
        color: $blue-violet;
      }

      &-lectors {
        margin-top: 5px;
      }
    }
  }
}
