.component-sponsors {
  &-content {
    background-color: #fff;
    max-width: 100%;
    overflow-x: auto;

    &-inner {
      display: flex;
    }

    &-group {
      min-height: 190px;
      border-right: 1px solid #2d2c2c;
      padding: 10px 40px;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
        border-right: none;
      }

      &-title {
        text-transform: uppercase;
        font-size: 21px;
        font-family: $font-family-base;
        margin-bottom: 40px;

        strong {
          font-family: $font-family-bold;
        }
      }

      &-list {
        display: flex;
        align-items: center;
        column-gap: 40px;
        row-gap: 30px;
      }
    }

    &-presentation-images {
      display: flex;

      img {
        min-width: 0;
        flex: 1;
      }
    }
  }
}
