.component-sponsors {
  &-content {
    background-color: #fff;

    &-inner {
      display: flex;
    }

    &-group {
      min-height: 190px;
      border-right: 1px solid #2d2c2c;
      padding: 10px 40px;

      &:first-of-type {
        padding-left: 0;
      }

      &-title {
        text-transform: uppercase;
        font-size: 21px;
        font-family: $font-family-base;
        margin-bottom: 40px;

        strong {
          font-family: $font-family-bold;
        }
      }
    }
  }
}
